.calculator{
  margin-left: 100px;

}

.buttSize{
  height: 40px;
  width: 80px;
  font-size: 1.3em;
}

#noDec{
  height: 40px;
  width: 80px;
  font-size: 1.3em;
}

.equalSize{
  height: 40px;
  width: 320px;
  font-size: 1.3em;
}

#display{
  border-color: magenta;
  height: 40px;
  width: 318px;
  text-align: right;
  border-style: solid;
  font-size: 1.7em;
  border-width: thin;
}